/* Variables */
:root {
    --font-family: 'Roboto', sans-serif;
    --font-size-default: 16px;
    --font-size-large: 18px;
    --font-size-extra-large: 24px;
    --font-size-huge: 36px;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --color-primary: #333;
    --color-secondary: #888;
    --color-background: #f5f5f5;
    --color-white: #fff;
    --color-active: #28e98c
  }

/* Layout */

.container {
    display: flex;
    padding: 50px 0px 20px 20px
  }
  
  .left-section {
    position: fixed;
    width: auto; /* Adjust the width according to your needs */
    height: 100vh; /* Set the height to cover the entire viewport */
  }
  
  .content {
    flex: 1;
    margin-left: 350px; /* Set the margin to match the width of the left section */
    /* Add any additional styles you want for the content area */
  }
  
  .right-section {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .theme-card {
    position: fixed;
    top: 0;
    right: -300px; /* Initial position outside the viewport */
    width: 300px;
    height: 100vh;
    background-color: #ffffff;
    transition: right 0.3s ease-in-out;
  }
  
  .theme-card.show {
    right: 0; /* Moves the card into the viewport */
  }
  
  .theme-card label {
    display: block;
    margin: 10px;
  }
  
  .theme-card input[type="radio"] {
    margin-right: 5px;
  }

  
  /* LeftPanel.scss */

  
  .left-panel__card {
    width: 350px;
    border-radius: 30px;
    border: 1px solid #565656;
    position: relative;
  }
  
  .left-panel__card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px
  }
  
  .left-panel__settings-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    position: absolute;
    top: -1px;
  }
  
  
  .left-panel__card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px 50px;

  }
  
  .left-panel__card-info h2 {
    font-size: 18px;
    margin: 0;
  }
  
  .left-panel__card-info p {
    font-size: 14px;
    margin: 0;
  }
  
  .left-panel__card-image {

    background-color: #ccc;
    border-radius: 30px;
    height: 295px;
    margin-bottom: 46px;
  }

  .left-panel__card-image img {
    max-width: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;

  }
  
  .left-panel__card-details h2 {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    margin: 0;
  }
  
  .left-panel__card-social-icons {
    display: flex;
    gap: 10px;
  }
  
  .left-panel__hire-me-button {
    align-items: center;
    background-color: var(--color-active);
    border-radius: 30px;
    border: 1px solid var(--color-active);
    color: #000;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 11px 58px 10px;
    text-align: center;
    text-transform: uppercase;
    transition: .3s;
  }
  
  .left-panel__hire-me-button:hover {
    background-color: transparent;
    color: var(--color-active)
  }
  
  .left-panel__hire-me-icon {
    display: block;
    font-size: 20px;
    margin-top:2px;
    margin-right: 5px;
  }
  
  .settings-panel {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    background-color: #f8f8f8;
    box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1);
  }

  .social-icon {
    display: inline-block;
    padding: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
    overflow: hidden;
  }
  
  .social-icon svg {
    width: 100%;
    height: 100%;
    fill: #999;
  }
  

  
  .social-icon:hover svg {
    fill: var(--color-active);
  }
  
  /* Navigation */

  .navigation {
    border: 1px solid #575757;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    width: max-content;
    padding: 10px;
    gap:20px
    // justify-content: center;
    // align-items: center;
    
  }
  
  .navigation__icon {
    font-size: 20px;
    color: #999999;
    cursor: pointer;
  }

  .navigation__icon:hover, .navigation__icon:active {
     color: var(--color-active)
  }

/* Hero */

.hero {
  padding: 80px 0;
  text-align: center;

  h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-bottom: 40px;
  }

}

/* Typing Text */

.typingText {
  color: var(--color-active)
}

.color-active {
  color: var(--color-active)
}
