@import './Layout.scss';

.app {
  display: flex;
  justify-content: center;
}

.layout {
  display: flex;
  width: 100%;
}

.layout__left-panel {
  width: 300px;
  background-color: #f8f8f8;
}

.layout__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.layout__main-content {
  flex: 1;
}

.layout__navigation {
  width: 300px;
  background-color: #f8f8f8;
}
